In [1]:
import pandas as pd 
import numpy as np

In [2]:
import sqlite3
sqlite3.connect('test_database')

In [3]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

c.execute("""
CREATE TABLE IF NOT EXISTS products
([product_id] INTERGER PRIMARY KEY, [Product_name] TEXT)

""")

c.execute("""
CREATE TABLE IF NOT EXISTS Prices
([Product_id] INTERGER PRIMARY KEY, [Price] INTERGER)

""")
conn.commit()

In [4]:
c.execute('''
          INSERT OR IGNORE INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,800),
                (2,200),
                (3,300),
                (4,450),
                (5,150)
          ''')

conn.commit()

In [5]:
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

  product_name  price
0     Computer    800
1      Printer    200
2       Tablet    300
3         Desk    450
4        Chair    150

In [6]:
conn = sqlite3.connect('test_database') 
          
sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM products
                               ''', conn)

df2 = pd.DataFrame(sql_query, columns = ['product_id', 'product_name', 'price'])
print (df2)

   product_id  product_name  price
0           1           NaN    NaN
1           2           NaN    NaN
2           3           NaN    NaN
3           4           NaN    NaN
4           5           NaN    NaN

In [7]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()
                 
c.execute('''
          SELECT
          *
          FROM products
          ''')

df3 = pd.DataFrame(c.fetchall(), columns = ['product_id', 'product_name', 'price'])
print (df3)

   product_id product_name  price
0           1     Computer    800
1           2      Printer    200
2           3       Tablet    300
3           4         Desk    450
4           5        Chair    150

In [7]:
max_price = df['price'].max()
print(max_price)

800

In [8]:
min_price = df['price'].min()
print(min_price)

150